<?xml version="1.0" encoding="utf-8"?><!--
This code is free  software: you can redistribute it and/or  modify it under the
terms of the GNU Lesser General Public License as published by the Free Software
Foundation,  either version  3 of  the License,  or (at  your option)  any later
version.

This code  is distributed in the  hope that it  will be useful, but  WITHOUT ANY
WARRANTY; without even the implied warranty  of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser  General Public License for more details.

You should have  received a copy of the GNU  Lesser General Public License along
with code. If not, see http://www.gnu.org/licenses/.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="altermarkive.uploader" android:versionCode="1" android:versionName="1">

    <!-- Using the access to the Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Using the monitoring of the Internet connectivity -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Using the bootstrap notification -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Using the storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Using the body sensors -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!-- Using the forced wake state -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app"
        android:theme="@android:style/Theme.Light">
        <activity
            android:name="altermarkive.uploader.Main"
            android:label="@string/app"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="altermarkive.uploader.Boot"
            android:enabled="true"
            android:exported="true"
            android:label="Boot Receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="altermarkive.uploader.Connectivity"
            android:enabled="true"
            android:exported="true"
            android:label="Connectivity Receiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="altermarkive.uploader.Background"
            android:exported="false"
            android:label="Background Service">
            <intent-filter>
                <action android:name="altermarkive.uploader.Background" />
            </intent-filter>
        </service>
        <activity android:name="altermarkive.uploader.Selector" />
    </application>

</manifest>
